{% extends 'base.html' %}

{% block script %}
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script>
<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'mode' : 'json',
         'show': 10,
         'newWindow': false,
         'contentLocation': 'tipuesearch_content.json'
     });
});
</script>
{% endblock script %}

{% block content %}
<div>
    <h1 class="entry-title">Search</h1>
    <div class="span8 offset2">
        <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
    </div>
</div>
{% endblock content %}
